@charset "UTF-8";
/* CSS Document */


body {
  font-family: "Noto Serif JP", serif;
  font-feature-settings: 'palt' 1;
  /* letter-spacing: 0.05em; */
  color: #212121;
  background-color: #fff;
}

/* ここからCSSを追加していく */
@media screen and (min-width: 320px) {
  /* スマホ用レイアウト 320px以上の範囲に収めるデザインはこの中に記述 */

  /*==============================================================
    　　ヘッダー
  ==============================================================*/
  .header {
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 26px 0;
    top: 0;
    z-index: 20;
  }

  .logo-box {
    display: flex;
    align-items: center;
  }

  .logo-box img {
    height: 28px;
  }

  .btn{
    position: fixed;
    width: 22px;
    height: 16px;
    right: 26px;
  }

  .btn i{
    position: absolute;
    right: 0;
    height: 1px;
    width: 22px;
    background-color: #949495;
    transition: 0.5s;
  }

  .btn i:nth-of-type(1){
    top: 0;
  }

  .btn i:nth-of-type(2){
    top: 8px;
  }

  .btn i:nth-of-type(3){
    top: 16px;
  }

  .btn.active i:nth-of-type(1){
    transform: translateY(8px) rotate(45deg);
    background-color: #D9D9D9;
    width: 25px;
    margin-right: 2.5px;
  }

  .btn.active i:nth-of-type(2){
    opacity: 0;
  }

  .btn.active i:nth-of-type(3){
    transform: translateY(-8px) rotate(-45deg);
    background-color: #D9D9D9;
    width: 25px;
    margin-right: 2.5px;
  }

  /* メニューのデザイン*/
  .container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    background: #fff;
    transition: .5s;
    opacity: 0;
    overflow: hidden;
    overflow-y: scroll;
    pointer-events: none;
  }

  .container.active{
    opacity: 1;
    pointer-events: auto;
  }


  /*==============================================================
    　　TOP（ヒーロー）
  ==============================================================*/
  .sec-top {
    margin-top: 80px;
    position: relative;
  }

  .sec-top .title-box {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 30px;
    text-align: center;
  }

  .sec-top h1 {
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 0.25em;
  }

  .sec-top .title-box .sub-title {
    font-size: 6px;
    font-family: "Goudy Bookletter 1911", serif;
    font-weight: 400;
    letter-spacing: 0.15em;
    margin-top: 4px;
  }

  .sec-top .title-box .title-text {
    font-size: 6px;
    font-family: "Goudy Bookletter 1911", serif;
    font-weight: 400;
    letter-spacing: 0.08em;
    line-height: 2.4;
    margin-top: 18px;
  }

  .top-img {
    width: 80vw;
    height: 385px;
  }

  .top-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
  }

  /*==============================================================
    　　ABOUT
  ==============================================================*/
  .sec-about {
    margin: 80px 0;
    text-align: center;
  }

  .sec-title {
    text-align: center;
    font-weight: 600;
    justify-items: center;
  }

  .sec-title .title {
    font-size: 24px;
    letter-spacing: 0.19em;
  }

  .sec-title .title-jp {
    font-size: 10px;
    font-weight: 600;
  }

  .sec-title .title-line {
    width: 14px;
    height: 1px;
    background-color: #212121;
    margin: 12px 0;
  }

  .sec-about .text {
    font-size: 11px;
    font-weight: 600;
    line-height: 2.5;
    margin-top: 50px;
    margin-bottom: 54px;
  }

  .more-box a {
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .more-box .more {
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0.2em;
  }

  .arrow {
    position: relative;
    display: inline-block;
    width: 17px;
    height: 0.5px;
    border-radius: 9999px;
    background-color: #000;
    margin-left: 16px;
  }

  .arrow::before {
    content: "";
    position: absolute;
    top: calc(50% - 2px);
    right: 0;
    width: 4px;
    height: 0.5px;
    border-radius: 9999px;
    background-color: #000;
    transform: rotate(45deg);
    transform-origin: calc(100% - 2px) 50%;
  }

  .arrow::after {
    content: "";
    position: absolute;
    top: -8.7px;
    left: -9.5px;
    width: 19px;
    height: 19px;
    border: solid 0.5px #000;
    border-radius: 50%;
  }


  /*==============================================================
    　　SYSTEM
  ==============================================================*/
  .sec-system {
    background-image: url(../img/system.png);
    margin: 0 27px 20px;
    height: 172px;
    background-size: 102%;
    background-position: 50% 50%;
  }

  .sec-system .sec-title {
    color: #fff;
  }

  /* ==================== SYSTEM・MENU（共通） ================== */
  .sec-bg {
    background-color: rgba(255, 255, 255, 0.3);
    width: 100%;
    height: 100%;
    align-content: center;
    position: relative;
  }

  .sec-bg .title-line {
    background-color: #fff;
  }

  .sec-bg .arrow {
    height: 1px;
    background-color: #fff;
  }

  .sec-bg .arrow::before {
    height: 1px;
    background-color: #fff;
  }

  .sec-bg .arrow::after {
    border: solid 1px #fff;
  }

  .sec-bg .more-box {
    position: absolute;
    right: 13px;
    bottom: 17.5px;
  }


  /*==============================================================
    　　MENU
  ==============================================================*/
  .sec-menu {
    background-image: url(../img/menu.png);
    margin: 0 27px;
    height: 172px;
    background-size: cover;
    background-position: 50% 50%;
  }

  .sec-menu .sec-title {
    color: #ffffff;
    /* text-shadow: #D9D9D9 2px 0 5px; */
    text-shadow: #bebebe 0 0 2px;
  }

  .sec-menu .sec-bg .title-line {
    box-shadow: 0 0 2px 1px #D9D9D9;
  }


  /*==============================================================
    　　PHOTO
  ==============================================================*/
  .sec-photo {
    margin-top: 86px;
  }

  /*==============================================================
    　　SHOP
  ==============================================================*/
  .sec-shop {
    margin-top: 86px;
  }

  .sec-shop .sec-title .title-line {
    margin: 12px 0 40px;
  }

  .info {
    display: grid;
    margin: 0 auto;
    margin-bottom: 108px;
    grid-template:
    "box1 box1" auto
    "box2 box2" auto
    "box3 box3" auto
    "box4 box4" auto
    "box5 box5" auto
    / 110px 1fr;
    row-gap: 16px;
    width: 281px;
  }

  .box_01{
    grid-area: box1;
    align-items: center;
  }

  .box_02{
    grid-area: box2;
  }

  .box_03{
    grid-area: box3;
    align-items: center;
  }

  .box_04{
    grid-area: box4;
    align-items: center;
  }

  .box_05{
    grid-area: box5;
    align-items: center;
  }

  .info dl{
    display: flex;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 0.08em;
    line-height: 2.5;
  }

  .info dt{
    min-width: 110px;
    font-optical-sizing: auto;
  }

  .box_02 dd{
    line-height: 2.5;
  }

  .map-link {
    display: block;
    margin-top: 25px;
  }

  .map-link span {
    border-bottom: solid 1px #937218;
  }

  /*==============================================================
    　　LINE
  ==============================================================*/
  .sec-line {
    background-image: url(../img/line-bg.png);
    margin: 0 27px;
    height: 172px;
    background-size: cover;
    background-position: 50% 50%;
    text-align: center;
  }

  .sec-line p {
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 0.06em;
    color: #fff;
    text-shadow: #bebebe 0 0 2px;
  }

  .sec-line p span {
    margin-left: 18px;
  }

  .line-box {
    width: 257px;
    height: 42px;
    background-color: #06c755;
    margin: 18px auto;
    border-radius: 10px;
  }


  /*==============================================================
    　　フッター
  ==============================================================*/
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 27px;
  }

  .copy {
    font-size: 8px;
    font-weight: 600;
    letter-spacing: 0.08em;
  }

  .to-top-box {
    border: solid 0.5px #000000;
    border-radius: 50%;
    width: 25px;
    height: 25px;
  }

  .to-top-box a {
    width: 25px;
    height: 25px;
    margin: 0 auto;
  }

  .to-top {
    position: relative;
    display: inline-block;
    width: 1px;
    height: 10px;
    margin: 0 4.1px;
    border-radius: 9999px;
    background-color: #000000;
    margin-top: 7px;
    margin-left: 11.5px;
  }
  .to-top::before,
  .to-top::after {
    content: "";
    position: absolute;
    top: 0;
    left: calc(50% - 0.5px);
    width: 1px;
    height: 6.8px;
    border-radius: 9999px;
    background-color: #000000;
    transform-origin: 50% 0.5px;
  }
  .to-top::before {
    transform: rotate(45deg);
  }
  .to-top::after {
    transform: rotate(-45deg);
  }

  /* スクリーンリーダー専用クラス */
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }

  .footer-copy {
    display: flex;
    justify-content: right;
    align-items: center;
  }

}