@charset "UTF-8";
/* style.css（共通css） */


body {
  font-family: "Noto Serif JP", serif;
  font-feature-settings: 'palt' 1;
  /* letter-spacing: 0.05em; */
  color: #212121;
  background-color: #fff;
}

html {
  scroll-behavior: smooth; /* スムーススクロール */
}

@media screen and (min-width: 320px) {
  /* スマホ用レイアウト 320px以上の範囲に収めるデザインはこの中に記述 */

  /*==============================================================
    　　共通（スマホ）
  ==============================================================*/
  #top {
    scroll-margin-top: 80px;
  }

  /*==============================================================
    　　ヘッダー
  ==============================================================*/
  .header {
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 26px 0;
    top: 0;
    z-index: 20;
  }

  .header.active {
    background-color: #EEEDED;
  }

  .logo-box {
    display: flex;
    align-items: center;
  }

  .logo-box.active {
    display: none;
  }

  .logo-box img {
    height: 28px;
  }

  .btn{
    position: fixed;
    width: 22px;
    height: 16px;
    right: 26px;
  }

  .btn i{
    position: absolute;
    right: 0;
    height: 1px;
    width: 22px;
    background-color: #949495;
    transition: 0.5s;
  }

  .btn i:nth-of-type(1){
    top: 0;
  }

  .btn i:nth-of-type(2){
    top: 8px;
  }

  .btn i:nth-of-type(3){
    top: 16px;
  }

  .btn.active i:nth-of-type(1){
    transform: translateY(8px) rotate(45deg);
    background-color: #949495;
    width: 25px;
    margin-right: 2.5px;
  }

  .btn.active i:nth-of-type(2){
    opacity: 0;
  }

  .btn.active i:nth-of-type(3){
    transform: translateY(-8px) rotate(-45deg);
    background-color: #949495;
    width: 25px;
    margin-right: 2.5px;
  }

  /* メニューのデザイン*/
  .container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    background: #EEEDED;
    transition: .5s;
    opacity: 0;
    overflow: hidden;
    overflow-y: scroll;
    pointer-events: none;
  }

  .container.active{
    opacity: 1;
    pointer-events: auto;
  }

  .page-link.top {
    padding: 145px 0 0 50px;
  }
  .page-link {
    padding: 0 0 0 50px;
  }

  .nav_item {
    font-size: 18px;
    letter-spacing: 0.2em;
    font-weight: 600;
    margin-bottom: 27px;
  }

  .sns-box {
    display: flex;
    font-size: 9px;
    font-weight: 600;
    letter-spacing: 0.16em;
    align-items: center;
    gap: 12px;
    margin-bottom: 64px;
  }

  .sns-icon {
    width: 28px;
    height: 28px;
  }

  .sns-icon.tiktok {
    width: 27px;
    height: 27px;
  }

  .sns-box p {
    margin-right: 10px;
  }
  .copy-box p.copy {
    margin-right: 0px;
    font-size: 8px;
    width: 198px;
    margin: 0 auto;
  }

  .con-bottom {
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
  }


  /*==============================================================
    　　LINE
  ==============================================================*/
  .sec-line {
    background-image: url(../img/line-bg.png);
    margin: 0 27px;
    height: 172px;
    background-size: cover;
    background-position: 50% 50%;
    text-align: center;
  }

  .sec-line p {
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 0.06em;
    color: #fff;
    text-shadow: #bebebe 0 0 2px;
  }

  .sec-line p span {
    margin-left: 18px;
  }

  .line-box {
    width: 257px;
    height: 42px;
    background-color: #06c755;
    margin: 18px auto;
    border-radius: 10px;
  }

  .sec-line .sec-bg {
    height: 100%;
    align-content: center;
  }


  /*==============================================================
    　　フッター
  ==============================================================*/
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 23px;
  }

  .copy {
    font-size: 8px;
    font-weight: 600;
    letter-spacing: 0.08em;
  }

  .copy span {
    letter-spacing: 0.15em;
  }

  .to-top-box {
    border: solid 0.5px #000000;
    border-radius: 50%;
    width: 25px;
    height: 25px;
  }

  .to-top-box a {
    width: 25px;
    height: 25px;
    margin: 0 auto;
  }

  .to-top {
    position: relative;
    display: inline-block;
    width: 1px;
    height: 10px;
    margin: 0 4.1px;
    border-radius: 9999px;
    background-color: #000000;
    margin-top: 7px;
    margin-left: 11.5px;
  }
  .to-top::before,
  .to-top::after {
    content: "";
    position: absolute;
    top: 0;
    left: calc(50% - 0.5px);
    width: 1px;
    height: 6.8px;
    border-radius: 9999px;
    background-color: #000000;
    transform-origin: 50% 0.5px;
  }
  .to-top::before {
    transform: rotate(45deg);
  }
  .to-top::after {
    transform: rotate(-45deg);
  }

  /* スクリーンリーダー専用クラス */
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }

  .footer-copy {
    display: flex;
    justify-content: right;
    align-items: center;
  }

}